USE [Accessories_Management_Shop]
GO
/****** Object:  Table [dbo].[InvoiceTb]    Script Date: 9/22/2024 1:27:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceTb](
	[SerialNo] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceId] [varchar](50) NOT NULL,
	[SalesPerson] [varchar](50) NOT NULL,
	[BillStatus] [varchar](50) NOT NULL,
	[Total] [int] NOT NULL,
	[Disccount] [int] NOT NULL,
	[NetTotal] [int] NOT NULL,
	[BillDate] [varchar](50) NOT NULL,
	[CustomerName] [varchar](50) NOT NULL,
	[CustomerPhone] [varchar](15) NOT NULL,
	[BillPreparedBy] [varchar](50) NOT NULL,
	[PaymentMethode] [varchar](50) NOT NULL,
 CONSTRAINT [PK_InvoiceTb] PRIMARY KEY CLUSTERED 
(
	[SerialNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product2TB]    Script Date: 9/22/2024 1:27:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product2TB](
	[SerialNo] [int] IDENTITY(1,1) NOT NULL,
	[Barcode] [varchar](50) NULL,
	[ComponentName] [varchar](50) NOT NULL,
	[BrandName] [varchar](50) NOT NULL,
	[Model] [varchar](50) NOT NULL,
	[Capacity] [varchar](50) NULL,
	[Frequency] [varchar](50) NULL,
	[Warranty] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[buyingPrice] [int] NOT NULL,
	[RegularPrice] [int] NOT NULL,
	[Discount] [int] NOT NULL,
	[UpdatedPrice] [int] NOT NULL,
	[Status] [varchar](50) NOT NULL,
	[AddedBy] [varchar](50) NOT NULL,
	[AssignDate] [varchar](50) NOT NULL,
	[OutOfStockStatus] [int] NOT NULL,
 CONSTRAINT [PK_Product2TB] PRIMARY KEY CLUSTERED 
(
	[SerialNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionTb]    Script Date: 9/22/2024 1:27:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionTb](
	[TransactionId] [int] IDENTITY(1,1) NOT NULL,
	[Date] [varchar](50) NOT NULL,
	[TotalAmmount] [int] NOT NULL,
	[Type] [varchar](50) NOT NULL,
	[ProductName] [varchar](200) NOT NULL,
 CONSTRAINT [PK_TransactionTb] PRIMARY KEY CLUSTERED 
(
	[TransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTB]    Script Date: 9/22/2024 1:27:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTB](
	[SerialNo] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [varchar](50) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[PhoneNumber] [varchar](15) NOT NULL,
	[Nid] [varchar](15) NOT NULL,
	[Gender] [varchar](10) NOT NULL,
	[Age] [int] NOT NULL,
	[DOB] [varchar](50) NOT NULL,
	[JoiningDate] [varchar](50) NOT NULL,
	[Salary] [int] NOT NULL,
	[Address] [varchar](100) NOT NULL,
	[AssignedBy] [varchar](50) NOT NULL,
	[UpdatePasswordRequestStatus] [int] NOT NULL,
	[password] [varchar](20) NOT NULL,
	[Role] [varchar](20) NOT NULL,
 CONSTRAINT [PK_UserTB] PRIMARY KEY CLUSTERED 
(
	[SerialNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
